<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_name, "Nombre usuario", class: "form-label" %>
    <%= form.text_field :user_name,  class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, "Descripción", class: "form-label mt-2" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="mt-2" >
    <%= form.submit "Guardar", class: "btn btn-warning" %>
  </div>
<% end %>
